.slider-container {
  position: relative;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  z-index: 1;
}

.next-button:hover {
  background-color: #0056b3;
}
